/*
 *	Additional form styling
 */
.input-error label{
	color: red;
}
.input-error input,
.input-error select,
.input-error .append {
	color: red;
	border-color: red;
}
.append {
	line-height: 14px;
	padding: 4px 5px;
	border: 1px solid #DFDFDF;
	display: inline-block;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background: #F0F0F0;
	height: 23px;
	width: 2em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	z-index: 1;
}
.append.reqd {
	font-family: 'apple symbols';
	font-weight: bold;
	color: #DB8206;
}
.regular-text,
.appended {
	font-size: 12px;
	height: 23px;
}
input.appended {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: -1px;
	vertical-align: middle;
	position: relative;
	z-index: 10;
}
.regular-text.appended {
	width: 23em;
}
.postbox .hndle {
	cursor: initial; /*not draggable on our screens*/
}
.error-banner {
	border: 1px solid red;
	padding: 5px 10px;
	border-radius: 3px;
	background: #F3F3F3;
	color: #C00;
}

/*
 *	Tables 
 */
.widefat .column-first {
	padding-left: 12px;
}

/*
 *	Labels and Badges 
 */
.label {
	display: inline;
	padding: 2px 4px;
	text-align: center;
	border-radius: 2px;
	background: #aaa;
	color: #fff;
	text-shadow: 0 1px 0 #636363;
}
.label.badge {
	border-radius: 11px;
}
.label.info {
	background: #9D9DEC;
	text-shadow: 0 1px 0 #4747DC;
}
.label.warning {
	background: #EF8E06;
	text-shadow: 0 1px 0 #8B5304;
}
.label.success {
	background: #19BE5B;
	text-shadow: 0 1px 0 #0D632F;
}

.handle-column {
	position: relative;
}
.variations-table:hover .handlediv {
	background: transparent url(../../../../../wp-admin/images/arrows.png) no-repeat 6px 7px;
}
.variations-table .handlediv {
	position: absolute;
	width: 27px;
	height: 30px;
	cursor: pointer;
	right: 0;
	top: 50%;
	margin-top: -15px;
}
.hide {
	display: none;
}
hr {
	display:block; 
	height:1px; 
	border:0; 
	border-top:1px solid #ccc; 
	margin:1em 0; 
	padding:0; 
}

/*
 * disgraceful hacking of admin menu to make it look like internal pages
 * (experiment single and variation single) are still under the plugin's main heading
 */
#adminmenu .abt-current-submenu li a {
	padding-left: 12px;
}
.folded #adminmenu .abt-current-submenu .wp-submenu.sub-open, 
.no-js #adminmenu .wp-has-submenu:hover .wp-submenu, #adminmenu .abt-current-submenu .wp-submenu {
	display: block;
}
#adminmenu .abt-current-submenu .wp-submenu {
	position: relative;
	z-index: 2;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	padding: 0;
}
#adminmenu li.abt-current-submenu .wp-menu-image img {
	opacity: 1;
	filter: alpha(opacity=100);
}
#adminmenu li.abt-current-submenu .wp-menu-arrow {
	display: block;
}
#adminmenu li.abt-current-submenu a.wp-not-current-submenu, 
.folded #adminmenu li.abt-current-submenu, 
#adminmenu .abt-current-submenu .wp-submenu .wp-submenu-head {
	background-color: #777;
	background-image: -ms-linear-gradient(bottom,#6D6D6D,gray);
	background-image: -moz-linear-gradient(bottom,#6D6D6D,gray);
	background-image: -o-linear-gradient(bottom,#6D6D6D,gray);
	background-image: -webkit-gradient(linear,left bottom,left top,from(#6D6D6D),to(gray));
	background-image: -webkit-linear-gradient(bottom,#6D6D6D,gray);
	background-image: linear-gradient(bottom,#6D6D6D,gray);
}
#adminmenu li.abt-current-submenu a.wp-not-current-submenu, 
#adminmenu .abt-current-submenu .wp-submenu .wp-submenu-head {
	text-shadow: 0 -1px 0 #333;
	color: white;
	border-top-color: gray;
	border-bottom-color: #6D6D6D;
}

#adminmenu li.abt-current-submenu .wp-menu-arrow div,
#adminmenu li.abt-current-submenu .wp-menu-arrow {
	background-color: #777;
	background-image: -ms-linear-gradient(right bottom,#6D6D6D,gray);
	background-image: -moz-linear-gradient(right bottom,#6D6D6D,gray);
	background-image: -o-linear-gradient(right bottom,#6D6D6D,gray);
	background-image: -webkit-gradient(linear,right bottom,left top,from(#6D6D6D),to(gray));
	background-image: -webkit-linear-gradient(right bottom,#6D6D6D,gray);
	background-image: linear-gradient(right bottom,#6D6D6D,gray);
	border: none;
}
#adminmenu li.abt-current-submenu .wp-menu-arrow div {
	top: 7px;
}
#adminmenu li.abt-current-submenu .wp-menu-arrow {
	-moz-transform: translate(146px);
	-webkit-transform: translate(146px);
	-o-transform: translate(146px);
	-ms-transform: translate(146px);
	transform: translate(146px);
	height: 30px;
}
