<tr>
	<td class="column-title column-first">
		{{variation_name}} {{#base}}[Base]{{/base}}
		<div class="row-actions">
			<span class="edit"><a href="?page=abt_variation&amp;experiment_id={{exp.id}}&amp;id={{id}}">Edit</a></span>
			{{#exp.is_ready}}
			<span class="delete"> | <a data-notice href="?page=abt_variation&amp;action=delete&amp;variation[id]={{id}}&amp;variation[experiment_id]={{exp.id}}&amp;_nonce={{_nonce}}">Delete</a></span>
			{{/exp.is_ready}}
		</div>
	</td>
	<td class=""><a href="{{get_page_link}}" title="">{{post_title}}</a></td>
	<td class="">{{visits}}</td>
	<td class="">{{conversions}}</td>
	<td class="">{{#percent}}{{rate}}{{/percent}}</td>
	<td class="">{{#percent}}{{compare_to_base}}{{/percent}}</td>
	<td class="">{{#percent}}{{confidence_level}}{{/percent}}</td>
</tr>