<div class="wrap">
	<div id="icon-options-general" class="icon32"><br></div>
	<h2>A/B Tests - Settings</h2>
	{{> _error_banner}}
	<h3>IP Filtering</h3>
	<form method="post" action>
		<p><label for="blocked_ip">Enter IP addresses that you want to filter out of experiment visits and conversions.<br>Please enter one IP address per line.</label></p>
		<p>
			<textarea name="settings[filter_ip]" rows="10" cols="40" class="code">{{filter_ip}}</textarea>
		</p>
	

		<p>
			<label><input type="radio" name="settings[filter_ip_on]" value="1"{{#filter_ip_on}} checked="checked"{{/filter_ip_on}}> IP Filtering On</label><br>
			<label><input type="radio" name="settings[filter_ip_on]" value="0"{{^filter_ip_on}} checked="checked"{{/filter_ip_on}}> IP Filtering Off</label>
		</p>
		
		<input type="hidden" name="action" value="update">
		<input type="hidden" name="_nonce" value="{{_nonce}}">
		<input type="submit" value="Submit" class="button-primary">
	</form>
</div>