<div class="wrap">
	<div id="icon-users" class="icon32"><br></div>
	<h2>
		A/B Tests Variation{{^isNew}} - {{/isNew}}{{var.variation_name}}
	</h2>
	{{> _error_banner}}
	<form method="post" action="">
	<table class="form-table">
		<tbody>
			<tr valign="top" class="{{#flash.errors.variation_name}}input-error{{/flash.errors.variation_name}}">
				<th scope="row"><label for="variation[variation_name]">Variation Name</label></th>
				<td><input name="variation[variation_name]" type="text" id="variation_name" value="{{var.variation_name}}" class="regular-text appended"><span class="append reqd">&#x02605;</span></td>
			</tr>
						
			<tr valign="top" class="{{#flash.errors.post_id}}input-error{{/flash.errors.post_id}}">
				<th scope="row"><label for="variation[post_id]">Goal Page</label></th>
				<td>
					{{#isNew}}{{#pages}}{{var.post_id}}{{/pages}}{{/isNew}}
					{{^isNew}}
						<a href="{{var.get_page_link}}" title="">{{var.post_title}}</a>
						<input type="hidden" name="variation[post_id]" value="{{var.post_id}}">
						<input type="hidden" name="variation[id]" value="{{var.id}}">
					{{/isNew}}
				</td>
			</tr>
				  
		</tbody>
	</table>
	
	<br>
	
	<input type="hidden" name="action" value="{{action}}">
	<input type="hidden" name="_nonce" value="{{_nonce}}">
	<input type="hidden" name="variation[id]" value="{{var.id}}">
	<input type="hidden" name="variation[experiment_id]" value="{{var.experiment_id}}">
	<input type="submit" class="button-primary" value="Save" tabindex="5" accesskey="p">
	</form>
</div>